.tudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vw;
}

.botao {
    border: 2px solid #e0ce98;
    background-color: #e0ce98;
    cursor: pointer;
    display: flex;
    margin: 1vw;
    width: fit-content;
    position: absolute;
}

.botao span {
    background-color: #e0ce98;
    font-size: 3vw;
    margin: 0.5vw;
}

.caixa {
    padding-top: 11vw;
    display: flex;
    align-items: center;
    gap: 5vw;
}

.barras {
    width: 40vw;
}

.linhas {
    width: 40vw;
}

.bot {
    border-top: 2px solid #d5c289;
    background-color: #e0ce98;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    width: 100vw;
    height: 12.8vw;
}

.bot * {
    background-color: #e0ce98;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.tag {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}