* {
    background-color: #e6daa6;
}

.border-head {
    display: flex;
    height: 100px;
    border-bottom: solid 2px #d5c289;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    align-items: center;
    height: auto;
    width: 1600px;
}

.l-side {
    display: flex;
}

.imagem-he {
    height: 90px;
}

.r-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.r-side-logado {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mid {
    display: flex;
    align-self: center;
    transform: translateX(-9px);
}

.mid input {
    width: 400px;
    height: auto;
}

.img_usuario{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.usuario-nome {
    color: black;
    text-decoration: none;
}

.apagar {
    color: #e6daa6;
    text-decoration: none;
    cursor: default;
}