* {
    background-color: #e6daa6;
}

.border-head {
    display: flex;
    height: 6vw;
    border-bottom: solid 2px #d5c289;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15vw;
    align-items: center;
    height: auto;
    width: 80vw;
}

.l-side {
    display: flex;
}

.imagem-he {
    height: 5vw;
}

.r-side {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.r-side-logado {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.mid {
    display: flex;
    align-self: center;
    position: absolute; 
    transform: translateX(29vw);
}

.mid input {
    width: 20vw;
    height: auto;
}

.img_usuario{
    width: 4vw;
    height: 4vw;
    object-fit: cover;
}

.usuario-nome {
    color: black;
    text-decoration: none;
    font-size: 1.2vw;
}

.apagar {
    color: #e6daa6;
    text-decoration: none;
    cursor: default;
}