.apresentacao {
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    border: solid 2px #f0e7c3;
    background-color: #f0e7c3;
}

.imagem-ap {
    display: flex;
    align-items: center;
    background-color: #f0e7c3;
    height: auto;
}

.imagem-ap img {
    width: 500px;
}



.texto-ap {
    display: flex;
    align-items: center;
    background-color: #f0e7c3;
    width: 600px;
    height: auto;
}

.texto-ap span {
    display: flex;
    overflow-wrap: break-word;
    background-color: #f0e7c3;
    font-size: 25px;
}

.header-posts {
    display: flex;
    font-size: 60px;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 50px;
    color: #362e0a;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 470px;
    border: 2px solid #f7f5ed;
    background-color: #f7f5ed;
}

.img-post {
    display: flex;
    background-color: #f7f5ed;
}

.img-post img {
    background-color: #f7f5ed;
    width: 390px;
    height: 390px;
    object-fit: cover;
    border: solid 2px #e6daa6;
}

.txt-post {
    background-color: #f7f5ed;
    display: flex;
    padding-top: 20px;
    gap: 10px;
}

.txt-post span {
    background-color: #f7f5ed;
    font-size: 20px;
}

.ver-todos {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ver-todos span {
    font-size: 40px;
}