.apresentacao {
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    border: solid 2px #f0e7c3;
    background-color: #f0e7c3;
}

.imagem-ap {
    display: flex;
    align-items: center;
    background-color: #f0e7c3;
    height: auto;
}

.imagem-ap img {
    width: 500px;
}



.texto-ap {
    display: flex;
    align-items: center;
    background-color: #f0e7c3;
    width: 600px;
    height: auto;
}

.texto-ap span {
    display: flex;
    overflow-wrap: break-word;
    background-color: #f0e7c3;
    font-size: 25px;
}
