.corpo-do-post {
    display: flex;
    border: 2px solid #f7f5ed;
    background-color: #f7f5ed;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.corpo-do-post * {
    display: flex;
    background-color: #f7f5ed;
}

.like {
    border: 2px solid #faf9f3;
    background-color: #faf9f3;
    border-radius: 15px;
    padding: 15px;
    align-items: center;
    gap: 20px;
}

.like * {
    background-color: #faf9f3;
}

.like span {
    font-size: 40px;
}

.like img {
    width: 90px;
    height: 90px;
}

.tag-link {
    color: navy;
    text-decoration: underline;
    cursor: pointer;
}

.tags {
    height: 50px;
    width: 528;
    gap: 10px;
    flex-wrap: wrap;
}

.desc {
    width: 500px;    
}

.desc span {
    overflow-wrap: break-word;
}

.titulo {
    font-size: 60px;
    transform: translateY(40px);
}

.imagem-post {
    width: 100%;
    overflow: hidden;
}

.imagem-post img {
    width: 900px;
    height: 900px;
    object-fit: contain;
}

.detalhes {
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.autor span {
    color: navy;
    text-decoration: underline;
    cursor: pointer;
    font-size: 30px;
}

.autor {
    transform: translateY(15px);
}