.posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    text-decoration: none;
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 32vw;
    border: 2px solid #f7f5ed;
    background-color: #f7f5ed;
}

.img-post {
    display: flex;
    background-color: #f7f5ed;
}

.img-post img {
    background-color: #f7f5ed;
    width: 25.5vw;
    height: 25.5vw;
    object-fit: cover;
    border: solid 2px #e6daa6;
}

.txt-post {
    background-color: #f7f5ed;
    display: flex;
    padding-top: 0.8vw;
    gap: 0.5vw;
}

.txt-post span {
    background-color: #f7f5ed;
    font-size: 1.5vw;
    color: #2c2519;
}

.ver-todos {
    display: flex;
    justify-content: center;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
}

.ver-todos a {
    color: #2c2519;
    text-decoration: none;
}

.ver-todos span {
    font-size: 2.5vw;
}

.ver-mais {
    display: flex;
    justify-content: center;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
}

.ver-mais span {
    cursor: pointer;
    color: #2c2519;
    font-size: 2.5vw;
}

/* #f3f0e4 */