.corpo-do-post {
    display: flex;
    border: 2px solid #f7f5ed;
    background-color: #f7f5ed;
    align-items: center;
    justify-content: center;
    gap: 6vw;
    padding: 2vw;
    margin-top: 3.5vw;
    margin-bottom: 3.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.corpo-do-post * {
    display: flex;
    background-color: #f7f5ed;
}

.like {
    padding: 1.2vw;
    align-items: center;
    gap: 1.5vw;
    cursor: pointer;
}

.cor-like {
    border: 2px solid #faf9f3;
    background-color: #faf9f3;
    border-radius: 1vw;
}

.cor-like-ativo {
    border: 2px solid #b9b9b3;
    background-color: #b9b9b3;
    border-radius: 1vw;
}

.like * {
    background-color: transparent;
}

.like-clicado {
    border: 2px solid #878783;
    background-color: #878783;
    border-radius: 1vw;
    padding: 1.2vw;
    align-items: center;
    gap: 1.5vw;
}

.like-clicado {
    background-color: #878783;
}

.like span {
    font-size: 3vw;
}

.like img {
    width: 6vw;
    height: 6vw;
}

.tag-link {
    color: navy;
    text-decoration: underline;
    cursor: pointer;
}

.tags {
    height: 3.5vw;
    gap: 0.7vw;
    flex-wrap: wrap;
}

.desc {
    width: 37vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc span {
    overflow-wrap: break-word;
}

.titulo {
    font-size: 4.5vw;
    transform: translateY(40px);
}

.imagem-post {
    width: 100%;
    overflow: hidden;
}

.imagem-post img {
    width: 45vw;
    height: 45vw;
    object-fit: contain;
}

.detalhes {
    gap: 3.7vw;
    flex-direction: column;
    align-items: center;
}

.autor span {
    color: navy;
    text-decoration: underline;
    cursor: pointer;
    font-size: 2.5vw;
}

.autor {
    transform: translateY(1.1vw);
}